* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 90px 1fr 50px;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  justify-content: right;
  margin-right: 100px;
  padding-top: 20px;
}

#myForm {
  height: 60px;
  padding-top: 20px;
}

#search {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 16px;
}

#search::placeholder {
  font-size: 16px;
}

#search:focus {
  outline: none;
  border: 1px solid #545454;
}

.error {
  margin: 6px 10px;
  font-size: 14px;
  color: red;
}

.main {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 250px;
  padding-bottom: 100px;
}

#location {
  font-size: 3rem;
  font-weight: 700;
}

.info {
  display: flex;
  gap: 40px;
  margin-top: 10px;
  align-items: center;
  height: 170px;
}

.info > div:first-child {
  display: flex;
  font-weight: 700;
  align-items: start;
}

.degree.first {
  margin-left: -8px;
  margin-top: 10px;
  font-size: 1.3rem;
}

#temp {
  font-size: 8rem;
}

.secondary {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.15rem;
  gap: 5px;
}

.switcher {
  background-color: white;
  width: 58px;
  height: 28px;
  border-radius: 18px;
  border: 1px solid #929497;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 2px;
}

.switcher:hover {
  cursor: pointer;
}

.hidden {
  background-color: black;
}

#f,
#c {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 26px;
  height: 26px;
  border-radius: 18px;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 4px;
}

a:hover {
  cursor: pointer;
}

.secondaryLines {
  display: flex;
  gap: 4px;
  font-weight: 600;
}

span {
  font-weight: 400;
}
